<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>help</title>
    {{> default_import_libs}}
</head>
<body>
    <div class="container">
        {{> header}}
        <h1>help</h1>
        {{> footer}}
    </div>
    
</body>
</html>